.button-metallic {
  border: 1px solid #59585a;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  background-image: linear-gradient(117deg, #131313 0%, #595959 74%);
  font-weight: 600;
  transition: background-image 0.3s ease;
}