.button-metallic {
  border: 1px solid #59585a;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  background-image: linear-gradient(117deg, #131313 0%, #595959 74%);
  font-weight: 600;
}

.button-bordered {
  border: 1px solid #59585a;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px 1px white;
  }
}