.settings__header {
  text-align: center;
  font-family: 'Unica One';
}

.settings__tariffs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 3rem 2rem;
}

.settings__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings__save {
  margin: 0 auto;
}

.settings__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  > img {
    width: clamp(100px, 350px, 500px);
    border-radius: 1rem;
    background: white;
    padding: 1rem 2rem 0 2rem;
  }
}