<h1 class="current__header">Register metricts for {{currentDate()}}</h1>
<div class="current__container">
  <div class="card">
    <span class="material-symbols-outlined icon--customized grid-cell">water_drops</span>
    <label class="custom-prime-label grid-cell" for="_water">Water (m³)</label>
    <p-inputnumber 
      class="custom-prime-input grid-cell" 
      fluid
      inputId="_water" 
      mode="decimal" 
      placeholder="0.000" 
      [min]="0"
      [minFractionDigits]="2" 
      [maxFractionDigits]="3" 
    />
  </div>

  <div class="card">
    <span class="material-symbols-outlined icon--customized grid-cell">bolt</span>
    <label class="custom-prime-label grid-cell" for="_electricity">Electricity (kWh)</label>
    <p-inputnumber 
      class="custom-prime-input grid-cell" 
      fluid
      inputId="_electricity" 
      mode="decimal" 
      placeholder="0.00" 
      [min]="0"
      [minFractionDigits]="2"
      [maxFractionDigits]="2"
    />
  </div>

  <div class="card">
    <span class="material-symbols-outlined icon--customized grid-cell">heat</span>
    <label class="custom-prime-label grid-cell" for="_heating">Heating (₴)</label>
    <p-inputnumber
      class="custom-prime-input grid-cell"
      fluid
      inputId="_heating"
      mode="decimal"
      placeholder="0.00"
      [min]="0"
      [minFractionDigits]="2"
      [maxFractionDigits]="2"
    />
  </div>
</div>
<button class="button-bordered current__submit" (click)="submit()">
  Submit
</button>