@use './styles/custom-primeng.scss';
@use './styles/components.scss';
@use './styles/scrollbar.scss' as *;
@use './styles/variables.scss' as *;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include custom-scrollbar;
}

.cdk-virtual-scroll-viewport {
  @include custom-scrollbar;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $black;
  height: 100vh;
  font-size: 16px;
  color: $white;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  color: inherit;
  
  &:not(:disabled):hover {
    cursor: pointer;
  }
  &:active {
    transform: none;
  }
}

.tab-wrapper {
  margin: 3rem 1rem;
}
